.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #343a40;
    color: #fff;
    height: 100px;
    width: 100%;
  }
  
  .logo h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .cart {
    position: relative;
  }
  
  .cartIcon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .cartCount {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .header {
      justify-content: center;
    }
  
    .cart {
      position: absolute;
      right: 20px;
    }
  }
  